/* file style untuk iidbc content  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --selection: #5a95e375;
    --hitam: #444;
    --putih: #fff;
    --red: #c0392b;
    --scroll: rgba(255, 255, 255, 0.808);
    --kuning: #F4D160;
    --orange: #f39c12;
    --border: .1rem solid rgba(0, 0, 0, 0.432);
    --box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    --putih-bg: #f5f5f5;
    --border--putih: .1rem solid rgba(255, 255, 255, 0.432);

}

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {

    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--selection);
    color: var(--putih);
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--hitam);
}

*::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: var(--scroll);
}

/* hover menu */
.header-1 .navbar ul li p:hover::after {
    width: 100%;
}

.dropdown-menu .box-title ul li:hover {
    text-decoration: underline;
}

.dropdown-menu .box-title .dropdown-btn:hover {
    background: var(--orange);
}

.dropdown-menu .box-title .dropdown-btn:hover span {
    color: var(--kuning);
}

/* hover menu end */

/* animation list */



/* end of .content.animation */

/* header */

.header .header-1 {
    display: flex;
    align-items: center;
    padding: 0px 2rem;
    width: 100%;
    justify-content: space-between;
    background-color: var(--hitam);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
}


.header .header-1.active {
    transform: translateY(-150%);
}




.header-1 .logo {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: .5rem;
    object-fit: cover;
    object-position: center;
}

.header-1 .logo img {
    width: 100%;
}

/* PENTING */
.header-1 .form {
    display: none;
    position: absolute;
    top: -115%;
    right: 0;
    transition: all .2s linear;
}

.header-1 .form.active {
    top: 115%;
    display: block;
}



.header-1 .search-form {

    align-items: center;
    justify-content: end;
    display: flex;
    padding: 0 1rem;
    width: 40rem;
    height: 3rem;
    overflow: hidden;
}

.header-1 .search-form input {
    width: 90%;
    padding: 0 1rem;
    outline: none;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem 0 0 .5rem;
    height: 3rem;
    background: #ffffffa0;
}



.header-1 .search-form .search-button {
    position: relative;
    height: 3rem;
    border: var(--border);
    outline: none;
    border-radius: 0 .5rem .5rem 0;
    padding: 0 .5rem;
}

.header-1 .navbar {
    text-align: center;
}


.header-1 .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.header-1 .navbar ul li {
    margin: 0 1rem;
}

.header-1 .navbar ul li p {
    color: var(--putih);
    text-decoration: none;
    font-size: 1.8rem;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.header-1 .navbar ul li .home::after {
    content: ' ';
    background: var(--orange);
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 2px;
    left: 0;
    width: 100%;
}

.header-1 .navbar ul li p::after {
    content: ' ';
    background: var(--orange);
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 2px;
    left: 0;
    transition: .2s linear;
}



#current-page::after {
    content: ' ';
    background: var(--orange);
    position: absolute;
    width: 0;
    bottom: -2px;
    height: 2px;
    left: 0;
    transition: .2s linear;
    width: 100%;
}

.header-1 .navbar ul li .btn-drpdwn.active::after {
    width: 100%;
}

.header-1 .navbar ul li .btn-drpdwn i {
    font-size: 1rem;
}

.dropdown-menu {
    position: absolute;
    display: none;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    background: #555454;
    text-transform: uppercase;
}

.dropdown-menu.active {
    display: flex;
}

.dropdown-menu .box-title {
    margin: 0 1rem;
    display: flex;
    width: 100%;
    font-size: 1.8rem;
    display: block;
    width: 30rem;
    color: var(--putih);
    padding: 1rem;
}

.dropdown-menu .box-title .dropdown-btn {
    font-size: 1.5rem;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    margin: 1rem 0;
    background: var(--kuning);
}

.dropdown-menu .box-title a {
    color: var(--hitam);
    text-decoration: none;
}


.dropdown-menu .box-title a:hover {
    color: #000;
    text-decoration: none;
}


.dropdown-menu .box-title .dropdown-btn span {

    color: var(--hitam);
}

.dropdown-menu .box-title ul {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.dropdown-menu .box-title ul li {
    margin: .5rem;
    text-align: start;
}



.dropdown-menu .box-title ul li a {
    color: var(--putih);
    text-decoration: none;

    width: 100%;
    font-size: 1.4rem;
}

.header-1 .icons {
    cursor: pointer;
    padding: 0 1rem;
    font-size: 2rem;
    color: var(--putih);
    text-align: center;
}


.header-1 .icons a{
    color: transparent;
}

.header-1 .icons div {
    margin: 0 .5rem;
    color: var(--putih);
}

.header-1 .icons #menu-btn, #search-btn{
    display: none;
}

.header-1 .icons #home-btn {
    color: var(--putih);

}


/* end of header */
/* copyright  */
.container-cprght {

    width: 100%;
    background: var(--hitam);
    display: flex;
    justify-content: center;
}

.cprght {
    border-top: 1px solid #ffffff64;
    min-width: 100%;
    padding: 1rem 1rem;
}

.cprght-menu {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.cprght-menu .logo {
    font-size: 2rem;
}

.border-copyright {
    height: 1.5rem;
    border: 1px solid #fff;
}

.cprght-menu p {
    text-align: center;
    color: #fff;
    margin: 1rem 2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
}


.logo-footer {
    width: 8rem;
}

.logo-footer img {
    width: 100%;
    background: #fff;
}

/* end of copyright */

/* ausbildung style page */
.wrapper-about {
    width: 100%;
    min-height: 100vh;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--putih-bg);
}

.sub-wrapper-about {
    max-width: 1200px;

}

.container-about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-about .child-about {
    width: calc(100%/2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container-about .child-about:nth-child(2) {
    width: calc(100%/2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    position: relative;
    align-items: start;
    padding: 0 2rem;
    color: var(--hitam);
}

.container-about .child-about .image-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-about .child-about img {
    width: 460px;
    height: 460px;
    background-color: #444;
    box-shadow: var(--box-shadow);
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.container-about .child-about .about-greeting {
    text-align: start;
    width: 100%;
    height: 100px;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.container-about .child-about .about-greeting .about {
    position: relative;
    width: fit-content;
    color: var(--hitam);
    margin-bottom: .5rem;
}

.container-about .child-about .about-greeting .greeting {
    color: var(--hitam);
    font-weight: 200;
    letter-spacing: .5px;
}

.container-about .child-about .title-about {
    width: 100%;
    text-align: start;
    height: fit-content;

}

.container-about .child-about .title-about h1 {
    color: var(--hitam);
    font-size: 5.5rem;
    font-weight: 400;
}

.container-about .child-about .about-paragraf {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.6em;
}

.container-about .child-about .about-paragraf .paragraf-1,
.container-about .child-about .about-paragraf .paragraf-2 {
    margin-bottom: 1rem;
    font-weight: 200;
    width: 90%;
}

/* end of ausbildung style page */

/* .prgm-ausbildung */
.wrapper {
    background-color: var(--putih-bg);
    padding-top: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-wrapper {
    max-width: 1200px;
    width: 100%;
}

.main-title {
    text-align: center;
    color: var(--hitam);
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    padding: 7rem 0 0rem 0;
    text-transform: capitalize;
}

.second-title {
    font-size: 1.5rem;
    text-align: center;
    color: #444444b5;
    font-weight: 200;
}


.container-about-program {
    padding: 7rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.child-about-program {
    padding: 0 1rem;
    width: calc(100%/2);
    display: flex;
    align-items: start;
}

.child-about-program .box-number {
    align-self: center;
    box-sizing: border-box;
    display: block;
    width: 40px;
    height: 40px;
    background: var(--hitam);
    color: var(--putih);
    border-radius: 60%;
}

.child-about-program .box-number p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
}

.child-about-program .card {
    margin: 1rem;
    display: flex;
    width: 50rem;
    flex-direction: column;
    background: var(--hitam);
    color: var(--putih);
    border-radius: 1rem;
    padding: 1rem;
    border: var(--border--putih);
    box-shadow: var(--box-shadow);
}

.child-about-program .card .title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.child-about-program .card .content {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .2px;
}


.container-wrapper-benefit {
    padding: 7rem 0;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.container-benefit:first-child .child-benefit {
    flex-wrap: wrap;
    padding: 0 1rem;
    padding-right: 3rem;
    width: calc(100%/1);
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.container-benefit:first-child {
    padding: 7rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container-benefit {
    padding: 7rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.child-benefit {
    flex-wrap: wrap;
    padding: 0 4rem;
    width: calc(100%/1);
    display: flex;
    align-items: start;
}




.timeline {
    left: 50%;
    position: absolute;
    display: flex;
    width: 10px;
    height: 40%;
    background: var(--hitam);
    flex-direction: column;
    justify-content: space-between;

}


.timeline .box-number {
    align-self: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: var(--hitam);
    color: var(--putih);
    border-radius: 60%;
}

.child-benefit.box-number p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
}

.child-benefit .card {
    margin: 1rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    background: var(--hitam);
    color: var(--putih);
    border-radius: 1rem;
    padding: 2rem;
    border: var(--border--putih);
    box-shadow: var(--box-shadow);
}

.child-benefit .card .title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.child-benefit .card .content {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .2px;
}

.container-slide {
    width: 100%;
    padding: 7rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container-slide i {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 1rem;
}

.container-slide .carousel {
    width: 50%;
    overflow-x: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% /1));
    gap: 14px;
}


.carousel::-webkit-scrollbar {
    display: none;
}


.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel .card {
    scroll-snap-align: start;
    scroll-behavior: smooth;
    cursor: unset;
    width: 100%;
    overflow: hidden;
    background-color: var(--hitam);
    box-shadow: var(--box-shadow);
    color: var(--putih);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel .card .profile {
    padding: 3rem 1rem;
    width: 150px;
    height: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--putih);
}

.carousel .card .profile .img-wrapper {
    background-color: var(--putih);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 60%;
    width: 100px;
}

.carousel .card .profile .img-wrapper img {
    width: 100px;
    height: 100px;
    border-radius: 60%;
}

.carousel .card .profile h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
    color: var(--hitam);
}

.carousel .card .content {
    width: 70%;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.8rem;
}

.container-iidbc-blackforest {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.child-iidbc-blackforest {
    width: calc(100%/3);
}

.container-iidbc-blackforest .group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.container-iidbc-blackforest .child-iidbc-blackforest .group .icon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-iidbc-blackforest .group .icon-title div {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.container-iidbc-blackforest .group .icon-title h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.container-iidbc-blackforest .group .content-idbc {
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: #444444cc;
    font-weight: 200;
}

.gambar {
    width: 450px;
    display: flex;
    align-items: center;
}

.gambar img {
    width: 100%;
    border-radius: 5%;

}

.syarat-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.syarat-container::-webkit-scrollbar {
    display: none;
}

.timeline-syarat {
    top: 7.2%;
    align-self: flex-start;
    position: absolute;
    display: block;
    height: 0%;
    width: 5px;
    background: var(--orange);
    z-index: 9;
}

.timeline-syarat2 {
    z-index: 1;
    top: 7.2%;
    align-self: flex-start;
    position: absolute;
    display: block;
    height: 85%;
    width: 5px;
    background: var(--hitam);
    transition: height .2s linear;
}



.card-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.card-group .card-right {
    position: relative;
    margin: 1rem 0;
    width: 50%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.card-group .card-left {
    position: relative;

    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.card-right .box {
    transform: translatex(-50%);
    z-index: 99;

}

.card-left .box {
    transform: translatex(50%);
    z-index: 99;

}

.box i {
    font-size: 1.5rem;
    background: var(--hitam);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    color: var(--putih);
}

.box i.active {
    background: var(--orange);
}

.card-left .title-syarat {
    padding: 0 0 0 1rem;
    text-transform: uppercase;

}

.card-right .title-syarat {
    padding: 0 1rem 0 0;
    text-transform: uppercase;
}

.card-content {
    width: 100%;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    height: 100%;
    background-color: var(--putih);
    box-shadow: var(--box-shadow);
    border: var(--border--putih);
    padding: 5%;
}

.card-content.active {
    color: var(--putih);
    background-color: var(--orange);
}


/* end of prgm-ausbildung */

/* media queries */
@media(max-width:991px) {

    /* section 3 */
    .container-about .child-about img {
        width: 360px;
        height: 360px;

    }

    .container-iidbc-blackforest {
        flex-wrap: wrap;
    }

    .child-iidbc-blackforest {
        width: calc(100%/1);
    }



    /* end of section 3 */


}

@media(max-width:768px) {

    /* header */
    .header-1 .form {
        right: 2rem;
    }

    .navbar {
        background-color: var(--hitam);
        position: absolute;
        top: 100%;
        width: 100%;
        margin: 0;
        padding: 1.5rem 0;
        left: 0;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .header-1 .logo {
        display: block;
        width: 7rem;
        height: 7rem;

    }

    .header-1 .navbar ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .header-1 .navbar ul li p {
        font-size: 1.5rem;
    }

    .dropdown-menu .box-title {
        font-size: 1.5rem;
    }

    .dropdown-menu .box-title .dropdown-btn {
        font-size: 1.2rem;
    }

    .dropdown-menu .box-title ul li {
        margin: .5rem;
    }

    .header-1 .search-form {
        width: 30rem;
    }

    .dropdown-menu .box-title {
        margin: 0;
    }

    .header-1 .icons #menu-btn {
        display: inline-block;
    }

    /* end of header */

    /* section 3 */
    .container-about .child-about {
        width: calc(100%/1);
    }

    .container-about .child-about:nth-child(2) {
        width: calc(100%/1);
        padding-top: 7rem;
    }

    .container-about .child-about .about-paragraf .paragraf-1,
    .container-about .child-about .about-paragraf .paragraf-2 {
        width: 100%;
    }

    /* end of section 3 */
    /* prgm-ausbildung */

    .child-about-program {

        width: calc(100%/1);

    }

    .container-wrapper-benefit {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .container-benefit:first-child {
        padding: 0rem 0;

    }

    .container-benefit {
        padding: 0rem 0;

    }

    .child-benefit {
        padding: 0 1rem;
    }

    .container-benefit:first-child .child-benefit {
        padding: 0 1rem;
    }

    .timeline {
        display: none;
    }

    .child-benefit .card {
        width: 100%;
    }

    .container-slide .carousel {
        width: 60%;
    }

    .carousel .card {
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        border: var(--border--putih);
    }

    .carousel .card:hover .profile {

        position: absolute;
        top: -100%;
    }

    .carousel .card .content {
        text-align: center;
        width: 80%;
        font-size: 1.8rem;
        margin: 10%;
    }

    .carousel .card .profile {

        border-radius: 1rem;
        width: 100%;
        position: relative;
        top: 0;
        transition: top .2s linear;
    }

    .syarat-container {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .timeline-syarat {
        /* display: none; */
        margin-left: 1rem;
        left: 10%;
        position: absolute;
        display: block;
        height: 0%;
        top: 7%;
        width: 5px;
    }

    .timeline-syarat2 {
        /* display: none; */
        margin-left: 1rem;
        left: 10%;
        position: absolute;
        display: block;
        height: 85%;
        top: 7%;
        width: 5px;
    }

    .card-group {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-group .card-right {
        position: relative;
        margin: 1rem 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-self: center;
        flex-direction: row;
    }

    .card-group .card-left {
        position: relative;
        width: 80%;
        justify-content: center;
        display: flex;
        align-self: center;
        align-items: center;
        flex-direction: row;
    }

    .card-right .box {
        transform: translatex(-50%);
    }

    .card-left .box {
        transform: translatex(-50%);
    }

    .box i {
        position: relative;
        margin: 0 1rem 0 0;
        background: var(--hitam);
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 60%;
        color: var(--putih);

    }

    .card-left .title-syarat {
        display: none;
    }

    .card-right .title-syarat {
        display: none;

    }

    .card-content {
        font-size: 1.5rem;
    }


    /* end of prgm-ausbildung */


}

@media(max-width:450px) {
    html {
        font-size: 50%;

    }

    /* header */
    .header-1 .logo {
        display: block;
        width: 5rem;
        height: 5rem;

    }

    .header-1 .search-form {
        padding: 0;
    }

    .header-1 .navbar ul li {
        margin: .5rem .5rem;
    }

    .header-1 .search-form input {
        width: 50%;

    }

    .header-1 .navbar ul li p {
        font-size: 1rem;
    }


    .dropdown-menu .box-title ul li a {
        color: var(--putih);
        text-decoration: none;
        width: 100%;
        font-size: 1rem;
    }

    .dropdown-menu .box-title {
        font-size: 1rem;
    }

    .dropdown-menu .box-title .dropdown-btn {
        font-size: 1rem;
    }


    /* end of header */
    .container-about .child-about img {
        width: 260px;
        height: 260px;
    }

    .container-about .child-about .title-about h1 {
        font-size: 4rem;
    }

    .container-slide .carousel {
        width: 80%;
    }






}